<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    input {
        font-size: 30px;
    }
    a {
        font-size: 30px;
    }
    </style>
<body>
<div>
    <form action="" method="post">
        hello
        <hr>
        <br><input type="text" name="text" id="" value="" style="height:40px;width:500px;" />
        <input type=submit value='search' name="buttonSearch">
        <br>
        <a>{{data2}}</a>
    </form>
</body>
</html>