<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
</head>
<style>
    input {
        font-size: 30px;
    }
    a {
        font-size: 10px;
    }
    </style>
<body class="mdui-theme-primary-indigo mdui-theme-accent-blue">
<div class="mdui-container">
    <form action="" method="post">
        <input type="text" name="text" id="" value="" class="mdui-textfield-input" placeholder="搜索内容"/>
        <button type=submit value='search' name="buttonSearch" class="mdui-btn mdui-color-theme-accent mdui-ripple">
            <i class="mdui-icon material-icons">搜索</i>
        </button>
        <br>
        <a>{{data2}}</a>
    </form>
</div>
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>    
</body>
</html>